<?xml version="1.0"?>
<!--
   Author: Russell Toris, Worcester Polytechnic Institute
  Version: July 18, 2012
-->

<robot
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:xacro="http://ros.org/wiki/xacro" >

  <xacro:macro name="rail_youbot_gazebo">
    <!-- markers -->
    <gazebo reference="fl_base_marker_sticker_link">
      <material value="rail_youbot/green" />
    </gazebo>
    <gazebo reference="fr_base_marker_sticker_link">
      <material value="rail_youbot/red" />
    </gazebo>
    <gazebo reference="bl_base_marker_sticker_link">
      <material value="rail_youbot/blue" />
    </gazebo>
    <gazebo reference="br_base_marker_sticker_link">
      <material value="rail_youbot/purple" />
    </gazebo>
  </xacro:macro>
</robot>
